@model IEnumerable<ReportCrimes.Web.Models.CrimeEventDto>

<br />
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-success">Add new crime to your department</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Description
                </th>
                <th>
                    Data
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.TypeOfEvent
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.DateOfEvent
                </td>
                <td>
                    <a class="btn btn-succes" asp-action="AddCrime" asp-route-id="@item.LawEnforcementId" asp-route-val="@item.CrimeId">
                        Add
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>