@model ReportCrimes.Web.Models.CrimeEventDto

<form method="post">
    <input asp-for="CrimeId" hidden />
    <div class=" pt-4">
        <div class="card container" style="border:1px solid #808080;">
            <div class="card-header bg-dark text-light row" style="border-radius: 0px;">
                <div class="col-12 col-md-6">
                    <h1 class="text-white">Type: @Model.TypeOfEvent</h1>
                </div>
                <div class="col-12 col-md-6 text-end">
                    <h1 class="text-warning">Status: @Model.Status</h1>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-4 p-1 text-center">
                            <img src="~/img/Crime.jpg" style="border-radius:35px;" width="100%" class="rounded" />
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="row pl-3">

                                <div class="col-12">
                                    <span class="badge badge-primary text-success p-3 border">Place: @Model.PlaceOfEvent</span>
                                    <h3 class="text-success"></h3>
                                    <h4>Description</h4>
                                    <p class="text-secondary">@Model.Description</p>
                                    <h4>Reporting Person Email</h4>
                                    <p class="text-secondary">@Model.ReportingPersonEmail</p>
                                    <h4>Date</h4>
                                    <p class="text-secondary">@Model.DateOfEvent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer row bg-dark">
                <div class="col-12 col-md-6 pb-1 ">
                    <a class="btn btn-success btn-square form-control btn-lg" asp-action="CrimeIndex" style="height:50px;">Back to List</a>
                </div>
                <div class="col-12 col-md-6 ">


                    <a asp-action="CrimeEventDelete"  asp-route-id="@Model.CrimeId" class="btn btn-danger   form-control btn-lg" style="height:50px;">Delete</a>
                </div>
            </div>

          
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
